@model DetailSellerViewModel

@{
    ViewData["Title"] = "جزییات فروشندگان";
}

@section css{
    <style>
        .section {
            border: 2px solid #52880B;
            border-radius: 5px;
        }

            .section .section-header {
                position: relative;
                background: white;
                padding: 0px 15px;
                display: inline;
                font-size: 1.2em;
            }

                .section .section-header:before {
                    font-family: "iconsmind";
                    display: inline-block;
                    padding-left: 3px;
                    vertical-align: middle;
                    color: #6FAB20;
                    margin: 10px 5px;
                    font-size: 30px;
                    font-weight: bold;
                }

        fieldset.section {
            height: 100%;
        }

        /*#region label list info */

        label.lbl-list-info {
            padding: 5px;
            display: inline-block;
            color: #35752F;
            font-style: normal;
            font-weight: 400;
        }

            label.lbl-list-info:after {
                content: " : "
            }

            label.lbl-list-info:before {
                font-family: "iconsmind";
                content: "\e63b";
                display: inline-block;
                padding-left: 3px;
                padding-right: 5px;
                vertical-align: middle;
                color: #6FAB20;
                font-weight: bold;
            }

        label.lbl-list-info-text {
            background-color: #C8F094;
            padding: 1px 32px;
            border-radius: 7px;
            display: block;
        }
        /*#endregion */

        /*#region image light gallery */

        .lg-outer.lg-visible {
            direction: ltr !important;
        }

        /*#endregion */
    </style>
    <!-- lightgallery -->
    <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
}



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <i class="im im-icon-Chef icon-header-card"></i>
                    جزییات <strong>فروشندگان</strong>
                </h2>
            </div>
            <div class="body">
                <form asp-action="detail" asp-controller="seller" asp-area="admin" method="post">

                    <div asp-validation-summary="All" class="message danger-msg @(ViewData.ModelState.IsValid ? "hide" : "animated fadeInUp")">
                        <i class="material-icons">error</i>
                        <div class="message-body">
                            <h4 style="margin-right: 20px;color: red;">خطا !</h4>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-4">
                            <fieldset class="section">
                                <legend class="section-header im-icon-User"> اطلاعات کاربری </legend>
                                <div class="">
                                    <span class="label label-success full-width text-center"><i class="im im-icon-Security-Check icon-style"></i>این فروشنده در وضعیت @(Html.Raw(OnlineFood.Common.Utility.HtmlGenerator.LabelColum(Model.SellerRegistrationProcess.GetDescriptionString(), OnlineFood.Common.Utility.GeneralMethods.ChooseColor(Model.SellerRegistrationProcess)))) است</span>
                                    <div><label class="lbl-list-info" asp-for="Username"></label> <label class="lbl-list-info-text">@Model.Username</label></div>
                                    <div><label class="lbl-list-info" asp-for="Email"></label> <label class="lbl-list-info-text">@Model.Email</label></div>
                                    <div><label class="lbl-list-info" asp-for="CreatorDateTime"></label> <label class="lbl-list-info-text">@Model.CreatorDateTime</label></div>
                                    <div><label class="lbl-list-info" asp-for="SellerType"></label> <label class="lbl-list-info-text">@Model.SellerType.GetDescriptionString()</label></div>
                                    @if (Model.RestaurantId > 0)
                                    {
                                        <div class="full-width ">
                                            <a href="/admin/restaurant/detail/@Model.RestaurantId/" target="_blank" class="btn btn-success btn-border-radius waves-effect full-width"><i class="im im-icon-Shop icon-style"></i>رستوران فروشنده</a>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>

                        @if (Model.SellerType == Domain.Enum.SellerType.Personal)
                        {
                            <div class="col-lg-4">
                                <fieldset class="section">
                                    <legend class="section-header im-icon-User"> اطلاعات حقیقی </legend>
                                    <div class="">
                                        <div><label class="lbl-list-info" asp-for="Firstname"></label> <label class="lbl-list-info-text">@Model.Firstname</label></div>
                                        <div><label class="lbl-list-info" asp-for="Lastname"></label> <label class="lbl-list-info-text">@Model.Lastname</label></div>
                                        <div><label class="lbl-list-info" asp-for="BirthDate"></label> <label class="lbl-list-info-text">@Model.BirthDate.ToString()</label> </div>
                                        <div><label class="lbl-list-info" asp-for="Gender"></label> <label class="lbl-list-info-text">@Model.Gender.GetDescriptionString()</label></div>
                                        <div><label class="lbl-list-info" asp-for="NationalCode"></label> <label class="lbl-list-info-text">@Model.NationalCode</label></div>
                                        <div><label class="lbl-list-info" asp-for="BirthCertificateNumber"></label> <label class="lbl-list-info-text">@Model.BirthCertificateNumber</label></div>
                                    </div>
                                </fieldset>
                            </div>
                        }
                        else if ((Model.SellerType == Domain.Enum.SellerType.Legal))
                        {
                            <div class="col-lg-4">
                                <fieldset class="section">
                                    <legend class="section-header im-icon-Business-Man"> اطلاعات حقوقی </legend>
                                    <div class="">
                                        <div><label class="lbl-list-info" asp-for="CompanyTitle"></label> <label class="lbl-list-info-text">@Model.CompanyTitle</label></div>
                                        <div><label class="lbl-list-info" asp-for="CompanyType"></label> <label class="lbl-list-info-text">@Model.CompanyType.GetDescriptionString()</label></div>
                                        <div><label class="lbl-list-info" asp-for="RegistrationNumber"></label> <label class="lbl-list-info-text">@Model.RegistrationNumber</label></div>
                                        <div><label class="lbl-list-info" asp-for="NationalId"></label> <label class="lbl-list-info-text">@Model.NationalId</label></div>
                                        <div><label class="lbl-list-info" asp-for="EconomicCode"></label> <label class="lbl-list-info-text">@Model.EconomicCode</label> </div>
                                    </div>
                                </fieldset>
                            </div>
                        }

                        <div class="col-lg-4">
                            <fieldset class="section">
                                <legend class="section-header im-icon-Shop"> اطلاعات تجاری </legend>
                                <div class="">
                                    <div><label class="lbl-list-info" asp-for="Title"></label> <label class="lbl-list-info-text">@Model.Title</label></div>
                                    <div><label class="lbl-list-info" asp-for="SellerPosition"></label> <label class="lbl-list-info-text">@Model.SellerPosition</label></div>
                                    <div><label class="lbl-list-info" asp-for="ShabaNumber"></label> <label class="lbl-list-info-text">@Model.ShabaNumber</label></div>
                                    <div><label class="lbl-list-info" asp-for="RestaurantCategory"></label> <label class="lbl-list-info-text">@Model.RestaurantCategory</label></div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-lg-8">
                            <fieldset class="section">
                                <legend class="section-header im-icon-Phone"> اطلاعات تماس </legend>
                                <div class="">
                                    <div><label class="lbl-list-info" asp-for="City"></label> <label class="lbl-list-info-text">@Model.City</label></div>
                                    <div><label class="lbl-list-info" asp-for="FullAddress"></label> <label class="lbl-list-info-text">@Model.FullAddress</label></div>
                                    <div><label class="lbl-list-info" asp-for="ZipCode"></label> <label class="lbl-list-info-text">@Model.ZipCode</label></div>
                                    <div><label class="lbl-list-info" asp-for="PhoneNumber"></label> <label class="lbl-list-info-text">@Model.PhoneNumber</label></div>
                                    <div><label class="lbl-list-info" asp-for="TelphoneNumber"></label> <label class="lbl-list-info-text">@Model.TelphoneNumber</label></div>
                                    <div><label class="lbl-list-info" asp-for="Email"></label> <label class="lbl-list-info-text">@Model.Email</label></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>


                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <div class="col-lg-12">
                            <fieldset class="section">
                                <legend class="section-header im-icon-Folder-Pictures"> مدارک </legend>
                                <div class="row clearfix">
                                    @foreach (var item in Model.SellerImageViewModels)
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="center"><label class="lbl-list-info-text">@item.Type</label></div>
                                            <div><label class="lbl-list-info">اندازه</label> <label class="">@item.Size</label></div>
                                            <div><label class="lbl-list-info">پسوند</label> <label class="" dir="ltr">@item.Extension</label></div>
                                            <div><label class="lbl-list-info">آدرس</label> <label class="" dir="ltr">@item.Url</label></div>
                                            <a href="@item.Url" class="zoom_light_gallery" data-sub-html="Demo Description">
                                                <img class="img-responsive thumbnail" src="@item.Url" title="@item.Type">
                                            </a>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    @*<div class="row clearfix">
                            <div class="col-md-3">
                                <label asp-for="SellerRegistrationProcess"></label>
                                <div class="form-group">
                                    <div class="form-line ">
                                        <select asp-for="SellerRegistrationProcess" class="ui search dropdown"
                                                asp-items="Html.GetEnumSelectList<OnlineFood.Domain.Enum.SellerRegistrationProcess>()"></select>
                                        <span asp-validation-for="SellerRegistrationProcess" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="row clearfix">
                        <div class="actions col-lg-12 col-md-12 col-sm-12  col-xs-12">
                            <a href="/admin/seller/" class="btn btn-outline-info"><i class="fa fas fa-arrow-right"></i>بازگشت</a>
                            @if (Model.SellerRegistrationProcess == Domain.Enum.SellerRegistrationProcess.SubmitApplication)
                            {
                                <button type="submit" class="btn btn-outline-success"><i class="fa fas fa-save"></i>تایید فروشنده</button>
                            }
                            else
                            {
                                <span class="label label-success text-center"><i class="im im-icon-Security-Check icon-style"></i>این فروشنده در وضعیت @(Html.Raw(OnlineFood.Common.Utility.HtmlGenerator.LabelColum(Model.SellerRegistrationProcess.GetDescriptionString(), OnlineFood.Common.Utility.GeneralMethods.ChooseColor(Model.SellerRegistrationProcess)))) است</span>
                            }
                            <a href="/admin/seller/" class="btn btn-outline-info left"><i class="fa fas fa-comment"></i>ارسال تیکت</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- lightgallery -->
    <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
    <script src="~/js/admin/light-gallery-image.js"></script>
    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        })
    </script>

}
