@model DetailRestaurantViewModel
@{
    ViewData["Title"] = "جزییات رستوران";
}
@section css{
    <!-- lightgallery -->
    <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
    <style>
        /*#region restaurant working hour */
        .working-hour-panel {
            padding: 17px;
            display: inline-block;
            border: 1px outset #ebf7da;
            border-radius: 10px;
            text-align: center;
            background-color: #ebf7da;
            /*margin: 5px 5px;*/
        }

        .working-hour-description i.im {
            font-size: 1.5em;
            vertical-align: middle;
            margin-left: 5px;
            color: #52880B;
            font-weight: bold;
            font-style: normal;
        }

        .working-hour-description:not(:last-child) {
            margin: 5px 0px;
        }


        .working-hour-title {
            margin-top: -15px !important;
        }

        #working-hour-panel-remove {
            font-size: 1.5em;
            vertical-align: middle;
            margin-left: 5px;
            color: #DB2828;
            font-weight: bold;
            font-style: normal;
            position: relative;
            bottom: 15px;
            left: 50px;
            cursor: pointer;
        }

        .working-hour-section {
            margin-top: 10px;
        }

        .restaurant-activity-status {
            margin-bottom: 15px;
        }

        /*.empty-image-gallery {
            font-size: 25px;
            text-align: center;
        }

            .empty-image-gallery:before {
                background: url(/image/web/items/gallery.svg) center center no-repeat;
                overflow: hidden;
                opacity: 0.5;
                height: 160px;
                margin: 20px 0;
                content: "";
                display: block;
                align-items: center;
                justify-content: center;
            }

        .empty-working-hour:before {
            background: url(/image/web/items/working-hour.svg) center center no-repeat;
            opacity: 0.5;
            height: 50%;
            content: "";
            display: block;
            position: absolute;
            bottom: 55px;
            padding: -4px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }*/

        /*#endregion */


    </style>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <i class="im im-icon-Shop icon-header-card"></i>
                    جزییات <strong>رستوران</strong>
                </h2>
            </div>
            <div class="body">
                <form asp-action="detail" asp-controller="restaurant" asp-area="admin" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="SellerId" />
                    <div asp-validation-summary="All" class="message danger-msg @(ViewData.ModelState.IsValid ? "hide" : "animated fadeInUp")">
                        <i class="material-icons">error</i>
                        <div class="message-body">
                            <h4 style="margin-right: 20px;color: red;">خطا !</h4>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <fieldset class="section">
                                <legend class="section-header im-icon-Shop"> اطلاعات رستوران </legend>
                                <div class="">
                                    <span class="label label-success full-width text-center restaurant-activity-status"><i class="im im-icon-Security-Check icon-style"></i>این رستوران  @(Html.Raw(OnlineFood.Common.Utility.HtmlGenerator.LabelColum(Model.RestaurantActivityStatus.GetDescriptionString(), OnlineFood.Common.Utility.GeneralMethods.ChooseColor(Model.RestaurantActivityStatus)))) است</span>
                                    <span class="label label-success full-width text-center"><i class="im im-icon-Security-Check icon-style"></i>این فروشنده در وضعیت @(Html.Raw(OnlineFood.Common.Utility.HtmlGenerator.LabelColum(Model.SellerRegistrationProcess.GetDescriptionString(), OnlineFood.Common.Utility.GeneralMethods.ChooseColor(Model.SellerRegistrationProcess)))) است</span>
                                    <div><label class="lbl-list-info" asp-for="Title"></label> <label class="lbl-list-info-text">@Model.Title</label></div>
                                    <div><label class="lbl-list-info" asp-for="TitleEng"></label> <label class="lbl-list-info-text">@Model.TitleEng</label></div>
                                    <div><label class="lbl-list-info" asp-for="CreatorDateTime"></label> <label class="lbl-list-info-text">@Model.CreatorDateTime</label></div>
                                    <div><label class="lbl-list-info" asp-for="CityArea"></label> <label class="lbl-list-info-text">@Model.CityArea</label></div>
                                    <div><label class="lbl-list-info" asp-for="City"></label> <label class="lbl-list-info-text">@Model.City</label></div>
                                    <div><label class="lbl-list-info" asp-for="FullAddress"></label> <label class="lbl-list-info-text">@Model.FullAddress</label></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12" id="image-gallery-panel">
                            <div id="aniimated-thumbnials">
                                <fieldset class="section">
                                    <legend class="section-header im-icon-Folder-Pictures"> گالری تصاویر </legend>
                                    @if (Model.RestaurantImagesViewModels != null && Model.RestaurantImagesViewModels.Any())
                                    {
                                        @foreach (var item in Model.RestaurantImagesViewModels)
                                        {
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 image-gallery-panel-section img-gallery-detail">
                                                <div class="center"><label class="lbl-list-info-text full-width">@item.Type</label></div>
                                                <div><label class="lbl-list-info">اندازه</label> <label class="">@item.Size</label></div>
                                                <div><label class="lbl-list-info">پسوند</label> <label class="" dir="ltr">@item.Extension</label></div>
                                                <div><label class="lbl-list-info">آدرس</label> <label class="d-block" dir="ltr">@item.Url</label></div>
                                                <div class="panel-action-tools">
                                                    <div class="panel-action-tools-edit d-inline-block">
                                                        <a href="javascript:void(0);" class="btn-panel-edit" title="ویرایش"><i class="im im-icon-Edit"></i></a>
                                                    </div>
                                                    <div class="panel-action-tools-delete d-inline-block">
                                                        <a href="javascript:void(0);" class="btn-panel-delete" title="حذف"><i class="im im-icon-Trash-withMen"></i></a>
                                                    </div>
                                                    <div class="panel-action-tools-detail d-inline-block">
                                                        <a href="javascript:void(0);" class="btn-panel-detail" title="جزییات"><i class="im im-icon-Eye"></i></a>
                                                    </div>
                                                </div>
                                                <a href="@item.Url" class="zoom_light_gallery" data-sub-html="Demo Description">
                                                    <img class="img-responsive thumbnail" src="@item.Url" title="@item.Type">
                                                </a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="empty empty-image-gallery col-centered">
                                            موردی برای نمایش وجود ندارد!
                                        </div>
                                    }
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="row centered working-hour-section">
                        <div class="col-lg-12" id="working-hour-content">
                            <fieldset class="section">
                                <legend class="section-header im-icon-Clock"> ساعات کاری رستوران </legend>
                                @if (Model.WorkingHoursViewModels != null && Model.WorkingHoursViewModels.Any())
                                {
                                    foreach (var item in Model.WorkingHoursViewModels)
                                    {
                                        <div class="working-hour-panel">
                                            @*<input class="input_working_hours" type="hidden" id="Input_Working-@item.Day" name="Input_Working-@item.Day" value="@item.Day" data-start="@item.Start" data-end="@item.End" data-day="@item.Day" data-val="@item.Id" />*@
                                            @*<a onclick="RemoveWorkingHourPanel(this);"><i class="im im-icon-Close-Window" id="working-hour-panel-remove" title="حذف"></i></a>*@
                                            <div class="working-hour-title working-hour-description"><i class="im im-icon-Calendar-3"></i> @item.Title </div>
                                            <div class="working-hour-open working-hour-description"><i class="im im-icon-Clock"></i><span>از ساعت&nbsp;</span> @item.Start </div>
                                            <div class="working-hour-close working-hour-description"><i class="im im-icon-Clock"></i><span>تا ساعت&nbsp;</span> @item.End </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="empty empty-working-hour col-centered">
                                        موردی برای نمایش وجود ندارد!
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="box full-width">
                                <div class="col-md-3">
                                    <label asp-for="ActivityStatus"></label>
                                    <div class="form-group">
                                        <div class="form-line ">
                                            <select asp-for="ActivityStatus" class="ui dropdown"
                                                    asp-items="Html.GetEnumSelectList<OnlineFood.Domain.Enum.ActivityStatus>()"></select>
                                            <span asp-validation-for="ActivityStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="row clearfix">
                        <div class="actions col-lg-12 col-md-12 col-sm-12  col-xs-12">
                            <a href="/admin/restaurant/" class="btn btn-outline-info"><i class="fa fas fa-arrow-right"></i>بازگشت</a>
                            @if (Model.SellerRegistrationProcess == Domain.Enum.SellerRegistrationProcess.DocumentConfirmation)
                            {
                                <button type="submit" class="btn btn-outline-success"><i class="fa fas fa-save"></i>تایید رستوران</button>
                            }
                            else
                            {
                                <span class="label label-success text-center"><i class="im im-icon-Security-Check icon-style"></i>این فروشنده در وضعیت @(Html.Raw(OnlineFood.Common.Utility.HtmlGenerator.LabelColum(Model.SellerRegistrationProcess.GetDescriptionString(), OnlineFood.Common.Utility.GeneralMethods.ChooseColor(Model.SellerRegistrationProcess)))) است</span>
                            }
                            <a href="/admin/restaurant/" class="btn btn-outline-info left"><i class="fa fas fa-comment"></i>ارسال تیکت</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <!-- lightgallery -->
    <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
    <script src="~/js/admin/light-gallery-image.js"></script>

    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        })
    </script>
}
