@model RestaurantMenuViewModel

<fieldset class="section ">
    <legend class="section-header restaurant-menu-list-header-icon"> لیست منوی رستوران </legend>
    <div id="restaurant-menu-list-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="actions-panel-top">
                    <a href="javascript:void(0);" id="restaurant-menu-add" class="btn btn-green btn-medium btn-3e btn-icon next-step"><i class="im im-icon-Add"></i>ثبت غذا</a>
                </div>
                <div id="restaurant-menu">
                    @foreach (var category in Model.ListRestaurantMenuViewModels)
                    {
                        <div id="restaurant_food_category-@category.RestaurantFoodCategoryClassname" class="full-width restaurant-food-category-content">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="restaurant-food-category-header" id="@category.RestaurantFoodCategoryId">
                                    <div class="restaurant-food-category-title">
                                        <i class="menu-category-icon  @category.RestaurantFoodCategoryClassname"></i>
                                        @category.RestaurantFoodCategory
                                    </div>
                                </div>
                            </div>
                            @foreach (var item in category.SubListRestaurantMenuViewModels)
                            {
                                <div class="col-lg-4 col-sm-4 col-xs-12 restaurant-menu-panel-content">
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="@item.ImageUrl" alt="@item.Title" />
                                            @*<div class="menu-favorite favorite">
                                                <a href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                                            </div>*@
                                            <div class="menu-comments">
                                                <span class="comments">@((28).GetPersianNumber()) نظر <i class="im im-icon-User"></i></span>
                                            </div>
                                        </div>
                                        <div class="menu-content">
                                            <div class="menu-title">
                                                <div class="restaurant-menu-title text-right">
                                                    <h3 dir="ltr">
                                                        <a href="/" class="ui green right ribbon label">@item.Title</a>
                                                    </h3>
                                                </div>
                                                <div class="restaurant-menu-description text-right">
                                                    <p class="truncateText">@item.TitleDescription</p>
                                                </div>
                                            </div>
                                            <div class="restaurant-menu-price half-width text-right">
                                                <span>@item.Price.GetPersianNumber()</span>
                                            </div>
                                            <div class="actions text-left">
                                                <a href="javascript:void(0);" class="restaurant-menu-edit btn-panel-edit" data-val="@item.Id" data-title="@item.Title" data-titleDesc="@item.TitleDescription" data-price="@item.Price" data-priceDesc="@item.PriceDescription" data-cat="@category.RestaurantFoodCategory" data-catId="@category.RestaurantFoodCategoryId" data-resImagId="@item.ImageId"><i class="im im-icon-Edit"></i></a>
                                                <a href="javascript:void(0);" class="restaurant-menu-delete btn-panel-delete"><i class="im im-icon-Trash-withMen"></i></a>
                                                <div class="tooltip-text-action tooltip-text-action-delete hide">
                                                    <p>آیا می خواهید حذف کنید؟</p>
                                                    <a href="javascript:void(0);" onclick="RemoveRestaurantMenuPanel(this);" data-val="@item.Id" class="btn btn-xs btn-red btn-panel-delete-yes">بلی</a>
                                                    <a href="javascript:void(0);" class="btn btn-xs btn-default btn-panel-delete-no">خیر</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</fieldset>

<script src="~/js/jquery.slimscroll.js"></script>
<script type="text/javascript">
    $('#restaurant-menu-list-main').slimscroll({
        height: 'auto'
    });
</script>












