@model EditRestaurantMenuViewModel

@{
    ViewData["Title"] = "ویرایش نوع غذا";
}
@section css{
    <!-- lightgallery -->
    <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
    <!-- autoComplete -->
    <link href="~/lib/autoComplete-master/auto-complete.css" rel="stylesheet" />
}
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="im im-icon-Trash-withMen icon-header-delete-confirm"></i>
        <span>حذف</span>
    </div>
    <div class="content">
        <p> آیا میخواهید حذف کنید؟ </p>
    </div>
    <div class="actions">
        <button class="ui inverted grey cancel  basic button"> <i class="im im-icon-Close icon-action-delete-confirm"></i>خیر</button>
        <button class="ui inverted ok red basic button">  <i class="im im-icon-Yes icon-action-delete-confirm"></i>بلی، حذف شود</button>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <i class="im im-icon-Receipt-3 icon-header-card"></i>
                    ویرایش <strong>منو</strong>
                </h2>
            </div>
            <div class="body">

                <div id="restaurant-menu-create-main">
                    <div class="row">
                        <div class="col-lg-12">
                            <form asp-action="edit" asp-controller="restaurantmenu" asp-area="admin" method="post" id="frm-restaurantmenu-edit">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="RestaurantImageId" />
                                <input type="hidden" asp-for="RestaurantId" />
                                <input type="hidden" asp-for="RestaurantFoodCategoryId" />
                                <input type="hidden" asp-for="Id" />
                                <div asp-validation-summary="All" class="ui danger message @(ViewData.ModelState.IsValid ? "hide" : "animated fadeInUp")">
                                    <div class="header list-info">
                                        خطا
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-8 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line tooltip-input focused">
                                                <i class="im im-icon-Receipt-3 prefix"></i>
                                                <input type="text" asp-for="Title" class="form-control" autocomplete="on">
                                                <label asp-for="Title" class="form-label"></label>

                                            </div>
                                            <span asp-validation-for="Title" class="text-danger invalid label"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-8 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line focused">
                                                <i class="im im-icon-Pen prefix"></i>
                                                <input type="text" asp-for="Description" class="form-control" autocomplete="on">
                                                <label asp-for="Description" class="form-label"></label>
                                            </div>
                                            <span asp-validation-for="Description" class="text-danger invalid label"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-8 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line focused tooltip-input">
                                                <i class="im im-icon-Money prefix"></i>
                                                <input type="text" asp-for="Price" class="form-control amount ltr-direction" autocomplete="off">
                                                <label asp-for="Price" class="form-label price"></label>

                                            </div>
                                            <span asp-validation-for="Price" class="text-danger invalid label"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-8 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line focused">
                                                <i class="im im-icon-Pen prefix"></i>
                                                <input type="text" asp-for="PriceDescription" class="form-control" autocomplete="on">
                                                <label asp-for="PriceDescription" class="form-label"></label>
                                            </div>
                                            <span asp-validation-for="PriceDescription" class="text-danger invalid label"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-8 col-xs-12">
                                        <div class="form-group form-float">
                                            <div class="form-line focused tooltip-input">
                                                <i class="im im-icon-Plate prefix"></i>
                                                <input type="text" asp-for="RestaurantFoodCategory" class="form-control" autocomplete="on">
                                                <label asp-for="RestaurantFoodCategory" class="form-label"></label>

                                            </div>
                                            <span asp-validation-for="RestaurantFoodCategory" class="text-danger invalid label"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 @(Model.GalleryRestaurantImageViewModels == null || !Model.GalleryRestaurantImageViewModels.Any()? "empty-image-gallery" : "")" id="image-gallery-panel">
                                        <div id="aniimated-thumbnials">
                                            <fieldset class="section">
                                                <legend class="section-header im-icon-Folder-Pictures"> گالری تصاویر </legend>
                                                <div class="panel-action-tools">
                                                    <div class="panel-action-tools-create d-inline-block">
                                                        <a href="/admin/restaurantimage/create?restaurantId=@Model.RestaurantId" class="btn-panel-create" title="افزودن"><i class="im im-icon-Add"></i></a>
                                                    </div>
                                                </div>
                                                @foreach (var item in Model.GalleryRestaurantImageViewModels)
                                                {
                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 image-gallery-panel-section img-gallery-detail  @(item.Id == Model.RestaurantImageId ? "selected" : "")">
                                                        <div class="center"><label class="lbl-list-info-text">@item.Type</label></div>
                                                        <div><label class="lbl-list-info">اندازه</label> <label class="">@item.Size</label></div>
                                                        <div><label class="lbl-list-info">پسوند</label> <label class="" dir="ltr">@item.Extension</label></div>
                                                        <div><label class="lbl-list-info">آدرس</label> <label class="d-block" dir="ltr">@item.Url</label></div>
                                                        <div class="panel-action-tools">
                                                            <div class="panel-action-tools-edit d-inline-block">
                                                                <a href="/admin/restaurantimage/edit/@item.Id/" class="btn-panel-edit" title="ویرایش"><i class="im im-icon-Edit"></i></a>
                                                            </div>
                                                            <div class="panel-action-tools-delete d-inline-block">
                                                                <a href="javascript:void(0);" class="btn-panel-delete" title="حذف" data-val="@item.Id"><i class="im im-icon-Trash-withMen"></i></a>
                                                            </div>
                                                            <div class="panel-action-tools-detail d-inline-block">
                                                                <a href="javascript:void(0);" class="btn-panel-detail" title="جزییات"><i class="im im-icon-Eye"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="centered">
                                                            <label class="not-box-check">
                                                                <input type="checkbox" class="filled-in img-gallery-checkbox not-box-filled-in" @(item.Id == Model.RestaurantImageId ? "checked=\"checked\"" : "") name="RestaurantMenu" value="@item.Id" />
                                                                <span class="not-box-filled-in">این عکس میپسندم</span>
                                                            </label>
                                                        </div>
                                                        <a href="@item.Url" class="zoom_light_gallery" data-sub-html="Demo Description">
                                                            <img class="img-responsive thumbnail" src="@item.Url" title="@item.Type">
                                                        </a>
                                                    </div>
                                                }
                                            </fieldset>
                                        </div>

                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="actions col-md-10 col-sm-8 col-xs-7">
                                        <a href="/admin/restaurantmenu?restaurantId=@Model.RestaurantId" class="btn btn-outline-info"><i class="fa fas fa-arrow-right"></i>بازگشت</a>
                                        <button type="submit" class="btn btn-outline-success"><i class="fa fas fa-save"></i>ثبت ویرایش</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- lightgallery -->
    <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
    <script src="~/js/admin/light-gallery-image.js"></script>
    <!-- autoComplete -->
    <script src="~/lib/autoComplete-master/auto-complete.js"></script>
    <script type="text/javascript">
    $(function () {
        //config file input
        $("#ImageFile").fileinput({
            language: "fa",
            //theme: "fas",
            uploadUrl: "/seller/restaurantimage/upload/" + $("#RestaurantId").val(),
            overwriteInitial: true,
            maxFileSize: 1500,
            showClose: false,
            showCaption: false,
            showBrowse: false,
            //showPreview: false,
            browseOnZoneClick: true,
            removeLabel: '',
            //removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
            removeTitle: 'حذف',
            //elErrorContainer: '#kv-avatar-errors-2',
            //msgErrorClass: 'alert alert-block alert-danger',
            defaultPreviewContent: '<img src="/image/web/seller-reg-aside.png" alt="Your Avatar"><h6 class="text-muted">عکس انتخاب کنید</h6>',
            layoutTemplates: { main2: '{preview} {browse}' },
            allowedFileExtensions: ["jpg", "png", "jpeg"],
                @* initialPreviewAsData: true,
            initialPreview: [frontOfNationalCardFileUrl],
                initialPreviewConfig: [
                    {
                        caption: '@Model.FrontOfNationalCardFileName',
                        width: '120px',
                        url: '/seller/sellerimage/delete/', // server delete action
                        key: 1,
                        extra: { id: @Model.FrontOfNationalCardFileId
    }
                    }
                ]*@
            }).on('fileuploaded', function (event, previewId, index, fileId) {
        debugger;
        if (previewId.response.success) {
            var html = '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 img-gallery-detail">' +
                '<a onclick="RemoveImageGalleryPanel(this);" data-val="' + previewId.response.id + '"><i class="im im-icon-Close-Window" id="image-gallery-panel-remove" title="حذف"></i></a>' +
                '<div class="centered">' +
                '<label class="lbl-list-info-text">' + previewId.response.type + '</label>' +
                '</div>' +
                '<div class="centered">' +
                '<label class="not-box-check">' +
                '<input type="checkbox" class="filled-in img-gallery-checkbox not-box-filled-in" name="RestaurantMenu" value="' + previewId.response.id + '" />' +
                '<span class="not-box-filled-in">این عکس میپسندم</span>' +
                '</label>' +
                '</div>' +
                '<div class="centered justified-gallery ">' +
                '<a href="' + previewId.response.url + '"class="zoom_light_gallery" data-sub-html="Demo Description" style="width: 187px;height: 126.144px;opacity: 1;">' +
                '<img class="img-responsive" src="' + previewId.response.url + '" title="' + previewId.response.type + '" style="width: 187px;height: 127px;margin-left: -93.5px;margin-top: -63.5px;">' +
                '<div class="demo-gallery-poster">' +
                '<img src="/image/web/zoom.png"/>' +
                '</div>' +
                '</a>' +
                '</div>' +
                '</div>';
            $("#image-gallery-panel").removeClass("empty-image-gallery").append(html).lightGallery({
                thumbnail: true,
                selector: 'a.zoom_light_gallery'
            });
            //$('#aniimated-thumbnials').lightGallery({
            //    thumbnail: true,
            //    selector: 'a'
            //});
            showNotification('success', previewId.response.message, previewId.response.title, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
        }
        else {
            showNotification('danger', previewId.response.message, previewId.response.title, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
        }
        console.log('File Uploaded', 'ID: ' + fileId + ', Thumb ID: ' + previewId);
    }).on('fileuploaderror', function (event, data, msg) {
        debugger;
        $(event.target).parent().find(".kv-file-upload").attr("disabled", "disabled");
        showNotification('danger', msg, "خطا در ورود عکس", 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
        console.log('File Upload Error', 'ID: ' + data.fileId + ', Thumb ID: ' + data.previewId);
            });
        $('#aniimated-thumbnials').lightGallery({
            thumbnail: true,
            selector: 'a.zoom_light_gallery',
        });
        })

        // Just a random third party autocomplete module. Nothing special about this. You can have your own autocomplete module
        // https://goodies.pixabay.com/javascript/auto-complete/demo.html
        var autoCompelete = new autoComplete({
            selector: 'input[name="RestaurantFoodCategory"]',
            minChars: 2,
            cache: 0,  // set to 1 if you need caching and making less requests
            source: function (term, response) {
                // Since we wont have full control over ajax responses and caching problems may occure if we directly
                // use geocoder.query, we build the request URL instead and then we use it our custom auto complete module.
                // It's a workaround for not getting cached results in our list.
                //var queryURL = geocoder.queryURL({ query: term, ne: globalSearchBoundingBox.ne, sw: globalSearchBoundingBox.sw });
                var queryURL = "/admin/restaurantmenu/getrestaurantfoodcategory";
                var restaurantId = $("#RestaurantId").val();
                // In this demo we use a tiny 3rd party library for AJAX requests as we don't use jQuery or other bulky libraries.
                // So feel free to replace it with your preferred one. jQuery syntax for example would be like: $.ajax()
                $.getJSON(queryURL, { q: term, restaurantId: restaurantId }, function (res) {
                    debugger;
                    var json = /*JSON.parse(res);*/ res;
                    if (window.console) console.log(json);
                    if (typeof json != 'undefined') {
                        if (json.results) response(json.results);
                        //no results
                        else { }
                    }
                    response(json.results);
                });
            },
            renderItem: function (item, search) {
                debugger;
                //alert('renderItem');
                var html;

                return '<div class="autocomplete-suggestion item-restaurant-food-cat-main" data-name="' + item.name + '" data-value="' + item.value + '">\
                                    <div class="item-restaurant-food-cat-sub"><i class="menu-category-icon im  ' + item.iconClassName + '"></i>' + item.text + '</div>\
                                </div>';
            },
            onSelect: function (e, term, item) {
                debugger;
                //get value of selected item of multi select
                var id = parseInt(item.getAttribute("data-value"));
                //get text of selected item of multi select
                var text = item.getAttribute("data-name")

                if (id > 0) {
                    var restaurantFoodCategoryId = document.getElementById("RestaurantFoodCategoryId");
                    restaurantFoodCategoryId.value = id;
                    var restaurantFoodCategory = document.getElementById("RestaurantFoodCategory");
                    restaurantFoodCategory.value = text;
                }
            }
        });

        $(document).ready(function () {
            $(document).on('click', ".btn-panel-delete", function () {
                debugger;
                var id = $(this).attr("data-val");
                var $deleteUrl = "/admin/restaurantimage/delete/";
                var $target = $(this).parent().parent().parent();
                $('.ui.basic.modal').modal({
                    closable: false,
                    onDeny: function () {
                        return true;
                    },
                    onApprove: function () {
                        debugger;
                        $.post($deleteUrl, { id }, function (data) {
                            debugger;
                            if (data.success) {
                                $target.fadeOut("slow", function () { $target.remove(); });
                                showNotification('alert-success', data.message, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                            }
                            else {
                                showNotification('alert-danger', data.message, 'top', 'center', 'animated zoomInRight', 'animated zoomOutRight');
                            }
                        });
                    }
                }).modal('show');
            });
            //select and unchecked every image gallery box
            $(document).on('click', ".img-gallery-checkbox", function () {
                debugger;
                $("#RestaurantImageId").val($(this).val());
                $(".img-gallery-checkbox").each(function (i) {
                    //$(this).prop('checked', false);
                    if (!this.checked) {
                        $(this).parent().parent().parent().removeClass("selected");
                    }
                    //RestaurantImageId
                });
                var isSelected = $(this).prop('checked');
                if (isSelected) {
                    $(this).parent().parent().parent().addClass("selected");
                }
            });
        })
    </script>

}
